@media only screen and (max-width:400px){
    div.container{
        flex-wrap: wrap;
        width: 100vw;
    }
    div.section{
        width: 100% !important;
    }
    .ngx-mdc-icon{
        font-size: 10vw !important;
        margin-right: 0.25em !important;
    }
    div.node {
        width: 8vw;
        height: 8vw;
        margin-right: 1em;
    }
}

@media only screen and (min-width:401px) and (max-width:960px){
    div.container{
        width: 100vw;
        flex-wrap: wrap;
    }
    div.section{
        width: 100% !important;
    }
    .ngx-mdc-icon{
        font-size: 10vw !important;
        margin-right: 0.25em !important;
    }
    div.node {
        width: 8vw;
        height: 8vw;
        margin-right: 1em;
    }
}

.container{
    width: 100vw;
    flex-wrap: nowrap;
}

.section{
    width: 20%;
    height: 64px;
    flex-direction: row;
}

.ngx-mdc-icon{
    font-size: 2vw;
    margin-right: 1.1vw;
}

.node {
    width: 1.8vw;
    height: 1.8vw;
    cursor: pointer;
    user-select: none;
    margin-right: 1.5vw;
}

.wall {
    background-color: #262626;
}

.visited{
    background-color: #03DAC6;
}

.path{
    background-color: #B7FF6A;
}