@media only screen and (max-width:400px) {
    div.node {
        width: 1.5vw !important;
        height: 1.5vw !important;
    }
    .ngx-mdc-icon {
        font-size: 3vw;
    }
}

@media only screen and (min-width:401px) and (max-width:960px) {
    div.node {
        width: 1.8vw !important;
        height: 1.8vw !important;
    }
    .ngx-mdc-icon {
        font-size: 3vw;
    }
}

.node {
    width: 2.2vw;
    height: 2.2vw;
    display: flex;
    border: solid 1px #B2DFDB;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.ngx-mdc-icon {
    font-size: 2.2vw;
}

.start, .finish {
    animation-name: movenode;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.path {
    animation-name: foundpath;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.visited {
    background-color: transparent;
    animation-name: pathfind;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.wall {
    animation-name: makewall;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

/* pathfinding animation */

@keyframes pathfind {
    0% {
        transform: scale(0.3);
        background-color: #23036A;
        border-radius: 100%;
    }
    50% {
        background-color: #6200EE;
    }
    75% {
        transform: scale(1.2);
        background-color: #01A299;
    }
    100% {
        transform: scale(1);
        background-color: #03DAC6;
    }
}

@keyframes foundpath {
    0% {
        transform: scale(0.6);
        border-color: #B7FF6A;
        background-color: #B7FF6A;
    }
    50% {
        transform: scale(1.2);
        border-color: #B7FF6A;
        background-color: #B7FF6A;
    }
    100% {
        transform: scale(1);
        border-color: #B7FF6A;
        background-color: #B7FF6A;
    }
}

@keyframes makewall {
    0% {
        transform: scale(0.6);
        background-color: #262626;
    }
    50% {
        transform: scale(1.2);
        background-color: #262626;
    }
    100% {
        transform: scale(1);
        background-color: #262626;
    }
}

@keyframes movenode {
    0% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}