@media only screen and (max-width:400px) {
    div.section {
        height: auto !important;
        margin: 10vw 0;
    }
    div.visualizer{
        height: auto;
    }
}

@media only screen and (min-width:401px) and (max-width:960px) {
    div.visualizer {
        width: 86vw !important;
    }
}

.section {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 142px);
}

.visualizer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 2px #424250;
    width: 93.9vw;
}

.row {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}