@media only screen and (max-width:400px){
    div.container{
        width: 100vw;
        background-color: #3C4042;
        padding-top: 15px;
        padding-bottom: 12px;
    }
    div.section.title, div.section.button{
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    div.section.title{
        margin: 32px 0;
        font-size: 16px !important;
        padding: 10px;
    }
    div.section.button{
        background-color: #3C4042;
    }
    .section.help{
        display: none;
    }
}

@media only screen and (min-width:401px) and (max-width:960px){
    div.container{
        width: 100vw;
        background-color: #3C4042;
    }
    div.section.title{
        width: 100vw;
        margin: 20px 0 0 0;
        font-size: 18px;
    }
    div.section.button{
        width:32.6vw;
    }
    .section.help{
        width: 1vw;
        margin-left: 0 !important;
        text-align: center !important;
    }
}

@media only screen and (min-width: 961px){
    div.section.button{
        padding-right: 10px;
    }
}

.container{
    background-color: #212121;
    color: #F5F5F5;
    width: 100vw;
}

.section.title,.section.button{
    height: 78px;
}

.section.button{
    width: 14vw;
    text-align: center;
}

.section.help{
    width: 2vw;
    margin-top: -25px;
    padding-top: 20px;
    text-align: start;
}

.section.title{
    width: 50vw;
    text-align: center;
    font-size: 16px;
}

.description{
    width: auto;
    height: auto;
}

.algo-btn{
    min-width: 10vw;
}

.algo-menu{
    width: max-content;
}

#alert{
    text-align: center;
}