/* You can add global styles to this file, and also import other style files */
.container{
    flex-wrap: wrap;
    display: flex;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}