// styles.scss

@use './styles/body';

@use '@material/theme' with (
  $primary: #6200ee,
  $secondary: #faab1a,
  $background: #fff,
);

// MDC Typography
@use '@material/typography/mdc-typography';

// MDC Button
@use './styles/button';

@use './styles/list';

@use './styles/menu';

@use './styles/dialog';

@use './styles/snackbar';

// Angular MDC
@use '@angular-mdc/theme/material';